<div class="container-fluid myNav">
    <div class="row">
        <div class="col-md-3 myName">

            <h1>Github Search </h1>
        </div>
        <div class="col-md-3">
            <a routerLink="/profile">
                <button class="btn btn-primary">Home</button>
            </a>
        </div>

        <div class="col-md-3">

            <a routerLink="/searchUser">

                <button class="btn btn-primary">Seach User</button>

            </a>

        </div>
        <div class="col-md-3 " >


            <a routerLink="searchRepos">

                <button id="reposbtn" class="btn btn-primary">Search Repos</button>

            </a>
        </div>


    </div>
</div>